DOT_CODEX_API_KEY=dot_app_xxx
DOT_CODEX_DEVICE_ID=ABCD1234ABCD
DOT_CODEX_TASK_TYPE=loop
DOT_CODEX_TASK_KEY=image_task_1
DOT_CODEX_ASSET_THEME=siamese-sticker
DOT_CODEX_BORDER=0
DOT_CODEX_DITHER_TYPE=NONE
DOT_CODEX_MIN_REFRESH_INTERVAL_MS=1500
DOT_CODEX_FRAME_INTERVAL_MS=2200
DOT_CODEX_MAX_ENTER_FRAMES=2
DOT_CODEX_RUNNING_IDLE_MS=9000
DOT_CODEX_ROTATE_INTERVAL_MS=12000
DOT_CODEX_ROTATOR_POLL_MS=1000
DOT_CODEX_ROTATE_MAX_SESSIONS=5
DOT_CODEX_ACTIVE_SESSION_STALE_MS=90000
DOT_CODEX_RESULT_HOLD_MS=15000
DOT_CODEX_TERMINAL_PROMOTION_MS=12000
DOT_CODEX_TAKEOVER_REASSERT_MS=12000
DOT_CODEX_RESTORE_MODE=hold
DOT_CODEX_RESTORE_DELAY_MS=15000
DOT_CODEX_SESSION_NAME=
# DOT_CODEX_DEFAULT_IMAGE_PATH=/absolute/path/to/default.png
